/Code2024/nbproject/private/
/Code2024/build/
/SwuingGuiNeatBeans/nbproject/private/
/SwuingGuiNeatBeans/build/
/JavaFXApplication1/nbproject/private/
/JavaFXApplication1/build/
/CafeManagementSystem/nbproject/private/
/CafeManagementSystem/build/
/CafeManagementSystem/dist/
/JavaApplication7/nbproject/private/
/JavaApplication7/build/
/test27/nbproject/private/
/test27/build/
/LastHope/nbproject/private/
/LastHope/build/
