/Code2024/nbproject/private/
/Code2024/build/
/SwuingGuiNeatBeans/nbproject/private/
/SwuingGuiNeatBeans/build/
/JavaFXApplication1/nbproject/private/
/JavaFXApplication1/build/
/CafeManagementSystem/nbproject/private/
